/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #002147;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

nav ul.menu {
    list-style-type: none;
    display: flex;
}

nav ul.menu li {
    margin-right: 20px;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul.menu li a:hover {
    color: #ffd700;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: #002147;
    padding: 20px;
    overflow-y: auto;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.dropdown-menu.open {
    transform: translateX(0%);
}

.dropdown-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s ease;
}

.dropdown-menu a:hover {
    color: #ffd700;
}

/* Estilos adicionais para a página suspensa */
.open {
    display: block;
}

/* Estilos para o banner, notícias, informações da empresa e rodapé */

/* Restante do código CSS */
