:root{
    --cor-azul: rgb(51, 68, 104);
    --cor-azulclaro:rgb(58 91 139);
    --cor-dourado: #bda663;
      
}
@font-face {
    font-family: 'normal';
    src: url(font/futura_bk_bt/FutuBk.ttf),
         url(font/futura_bk_bt/FutuBkIt.ttf),
         url(font/futura_bk_bt/Futura_20Medium_20BT.ttf),
         url(font/futura_bk_bt/FuturaBookBT.ttf),
         url(font/futura_bk_bt/FuturaBookItalicBT.ttf);
}

@font-face {
    font-family: 'negrito';
    src: url(font/futura_md_bt/FutuBd.ttf),
         url(font/futura_md_bt/FutuBdIt.ttf),
         url(font/futura_md_bt/FutuMd.ttf),
         url(font/futura_md_bt/FutuMdIt.ttf),
         url(font/futura_md_bt/FUTURAB.TTF),
         url(font/futura_md_bt/FuturaBoldBT.ttf),
         url(font/futura_md_bt/FuturaBoldItalicBT.ttf),
         url(font/futura_md_bt/FuturaMediumBT.ttf),
         url(font/futura_md_bt/FuturaMediumItalicBT.ttf);
}


/* Estilos gerais */
body {
    margin: 0;
    font-family: 'negrito';
    color: #000000;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    background-color: var(--cor-azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0px 25px 0px 25px;
}

/* Imagem do Header */
.logo img {
    max-width: 100px;
}

/* atalhos do header */
nav ul.menu {
    list-style-type: none;
    display: flex;
}

nav ul.menu li {
    margin-right: 35px;
    padding-top: 40px;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul.menu li a:hover {
    color:  var(--cor-dourado);
}

/*----------------------------*/
/* Hamburguer */
.navbar {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: var(--cor-azulclaro);
    margin: 100px 0 0 0;
    z-index: 9999;
    border-radius: 4px;
  }

  .dropdown-menu.open {
    display: block;
   
  }

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-menu li {
    margin-bottom: 10px;
    text-align: center;
  }

  .dropdown-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'negrito';
  }
/*------------------------------*/
/*Banner*/
.banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
  }
  
  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .banner img.active {
    opacity: 1 ;
  }
  .slider-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

  }
  
  .slider-buttons button {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0px 5px 0px 5px;
    color: var(--cor-dourado);
    background-color: var(--cor-azul);
    border-radius: 20px;
    cursor: pointer;
  } 
/*----------------------------*/
/* NEWS */
.news-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.news {
    background-color: var(--cor-azulclaro);
    height: auto;
    padding: 50px 15px 0px 15px;
}

.news h1 {
    justify-content: center;
    display: flex;
    font-family: 'negrito';
    font-size: 36px;
    margin: 0px;
    color: var(--cor-dourado);
    padding: 0px 0px 0px 0px;
}

.news h3 {
    justify-content: center;    
    display: flex;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    color: white;
    font-family: 'negrito';
}
.news p{
    width: 300px;
    font-family: 'normal';
    color: #fff;
}

.news img {
    height: 150px;
    width: auto;
    display: flex;
    padding: 5px 80px 0px 80px;
}
/*----------------------------------*/

/*company*/
.company-info h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-style: normal;
    font-family: 'negrito';
}

.company-info {
    position: relative;
    text-align: center;
    justify-items: center;
    background-color: black;
    height: 500px;
}

.company-info img {
    width: 100%;
    height: 500px;
    opacity: 20%;
}

.company-info p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'normal';
}
/*---------------------------------------*/

/* Rodape */
.footer-content {
    background-color: var(--cor-azul);
    padding: 10px 30px 10px 30px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: small;
    font-family: 'negrito';

}
.footer-content a {
    text-decoration: none;
    color: #eceaea;

}
.footer-content img{
    width: 50px;
   
}

.footer-content h3 {
    padding: 0px;
    margin: 0px;
    border-bottom: #ff0000;
    display: flex;
    align-items: center;
    cursor: default;
    
}
.footer-content p {
   display: flex;
   justify-content: center;
}
/*--------------------------------------*/

/* subrodape */
.bottom-footer {
    background-color: #333;
    color: #eceaea;
    padding: 10px 10px 10px 10px;
    border-top: 3px solid rgb(109, 109, 109);
}

.bottom-footer p,
h6 {
    padding: 5px;
    margin: 0px;
    text-align: center;
}
/*-----------------------*/
/*contato*/
.contato-info{
    color: var(--cor-dourado);
    padding: 100px 0px 0px 0px;
    display: flex;
    justify-content: center;   
    
   
}
.quadrado{
    width: 600px;
    height: 300px;
    background-color:var(--cor-azulclaro);
    margin: 15px 10px 15px 10px ;
    border-radius: 7px;
    
}
.quadrado h1{
    text-align: center;
    color: #eceaea;
}
.quadrado h2{
    text-align: center;
    color: #eceaea;
    margin: 10px 0px 0px 50px;
    font-size: 15px;
}
.texto-contato{
    display: flex;
    align-items: center;
    font-family: 'normal';
    font-size: 14px;
    

}

.quadrado img{
    width: 40px;
    display:block;
    padding: 10px 0px 0px 20px;
}


/*--------------------------------------------*/
/*Equipe html*/
.card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 300px;
    height: 400px;
    background-color: var(--cor-azul);
    border-radius: 10px;
    margin: 50px 70px 0px 70px;
    transition-duration:400ms;
    
  }
  
  .card-imagem {
    width: 150px;
    height: 150px;
    margin: 15px 15px 0px 15px;
  }
  
  .imagem {
    display: flex;
    justify-content: center;
  }
  
  .texto {
    text-align: center;
    margin: 0px;
    color: #fff;
    cursor: pointer;
  }
  .texto h2{
    margin: 0px;
    font-size: 20px;
    color: white;
    cursor:default;
  }

    .texto p{
        font-size: small;
        margin: 0px;
        color: transparent;
        cursor:default;
        display: none;

    }
    .card:hover{
        height: 500px;
        width: 400px;
        
        
    }
    .card:hover p{
        display:block;
        color: #eceaea;
    }
    
      
    
/*-----------------------------------------------------*/
/* Estilos adicionais para a página suspensa */

.whats img{
    width: 70px;
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}
.voltatopo{
    width: 70px;
    z-index: 9999;
    position: fixed;
    bottom: 100px;
    right: 20px;
}
.voltatopo img{
    width: 70px;
}
/* telas pequenas */
@media (max-width: 768px) {
   nav{
   display: none; 
   }
    .news-container {
        flex-direction: column;
        text-align: center;
    }
    .news {
        background-color: var(--cor-azulclaro);
        height: auto;
        padding: 50px 15px 0px 15px;
    }
    
    .news h1 {
        justify-content: center;
        display: flex;
        font-family: 'negrito';
        font-size: 20px;
        margin: 0px;
        color: var(--cor-dourado);
        padding: 0px 0px 0px 0px;
    }
    
    .news h3 {
        justify-content: center;    
        display: flex;
        margin: 0px;
        padding: 0px 0px 0px 0px;
        color: white;
        font-family: 'negrito';
    }
    .news p{
        width: 300px;
        font-family: 'normal';
        color: #fff;
    }
    
    .news img {
        height: 130px;
        width: auto;
        display: flex;
    }

    .company-info h1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        padding: 10px 0;
        font-style: normal;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .banner{
        height: 250px;
    }


    .company-info {
        position: relative;
        text-align: center;
        justify-items: center;
        background-color: black;
        height: 300px;
    }

    .company-info img {
        height: 300px;
        opacity: 20%;
    }

    .company-info p {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: 'normal';
        height: 200px;
        width: 350px;
    }
    .company-info h1{
        font-family: 'negrito';
        padding-bottom: 50px;
    }
    

    .footer-content h3 {
        padding: 10px;
        margin: 0px;
        border-bottom: #ff0000;
        font-size: 10px;
    }

    .footer-content p {
        font-size: 10px;
    }

    .footer-section img {
        width: 25px;
    }

    .footer-section {
        text-align: center;
    }

    .bottom-footer {
        background-color: #333;
        color: #eceaea;
        padding: 10px 10px 10px 10px;
        border-top: 3px solid rgb(109, 109, 109);
    }

    .bottom-footer p,
    h6 {
        padding: 5px;
        margin: 0px;
        text-align: center;
    }

    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .card{
        width: 200px;
        height: 300px;
    }
    .card:hover{
        width: 250px;
        height: 350px;
    }
    .menu{
        display: none;
    }
    .contato-info{
        color: var(--cor-dourado);
        padding: 0px 0px 0px 0px;
        display: flex;
        justify-content: center;   
        
       
    }
    .quadrado{
        width: 250px;
        height: 250px;
        background-color:var(--cor-azulclaro);
        margin: 15px 5px 15px 5px ;
        border-radius: 7px;
        
    }
    .quadrado h2{
        text-align: center;
        color: #eceaea;
        margin: 10px 0px 0px 20px;
        font-size: 10px;
    }
    .texto-contato{
        display: flex;
        align-items: center;
        font-family: 'normal';
        font-size: 10px;
    
    }
    
    .quadrado img{
        width: 30px;
        display:block;
        padding: 10px 0px 0px 20px;
    }
    .whats img{
        width: 50px;
        z-index: 9999;
        position: fixed;
        bottom: 20px;
        right: 20px;
        
    }
    .voltatopo{
        z-index: 9999;
        position: fixed;
        bottom: 70px;
        right: 5px;
    }
    .voltatopo img{
        width: 60px;
    }
    
}

/*------------------------------------------------*/
/* Responsividade para telas médias */
@media (min-width: 770px) and (max-width: 900px) {
    /* Adicione aqui as regras específicas para telas médias */
    .news-container {
        flex-direction: row;
        text-align: center;
    }
    .news img {
        height: 120px;
        width: auto;
        display: flex;
        padding: 0px 80px 0px 80px;
    }
}
/*-------------------------------------------------------*/

/* Responsividade para telas grandes */
@media (min-width: 901px) {
    /* Adicione aqui as regras específicas para telas grandes */
}
