    /* Estilos gerais */
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        color: #333;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Estilos para o cabeçalho */
    header {
        background-color: #002147;
        display:flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding: 0px 25px 0px 25px;
    }   

    .logo img {
        max-width: 100px;
    }



    nav ul.menu {
        list-style-type: none;
        display: flex;
    }

    nav ul.menu li {
        margin-right: 35px;
        padding-top: 40px;
    }

    nav ul.menu li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    nav ul.menu li a:hover {
        color: #ffd700;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1;
        margin-right: 65px;
    }
    .banner {
        height: 900px;
        width: auto;
        overflow: hidden;
    }

    .media-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #video, #image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #video {
        display: block;
    }

    #image {
        display: none;
    }
    .slide-controls {
        margin-top: 20px;
        text-align: center;
      }
      

    .bar {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: transform 0.3s ease;
    }

    .dropdown-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        background-color: #002147;
        padding: 20px;
        overflow-y: auto;
        z-index: 101;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .dropdown-menu.open {
        transform: translateX(0%);
    }

    .dropdown-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
        transition: color 0.3s ease;
    }

    .dropdown-menu a:hover {
        color: #ffd700;
    }

    /* Estilos adicionais para a página suspensa */
    .open {
        display: block;
    }